body {
  margin: 0;
  background: white;
  padding-top: 40px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

tbody {
  background: white
}

td.head {
  background-color: red;
  position: relative;
}

td.head::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

td.head::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

td.head.up::before {
  top: 12%;
  left: 12%
}

td.head.up::after {
  top: 12%;
  right: 12%
}

td.head.right::before {
  top: 12%;
  right: 12%
}

td.head.right::after {
  bottom: 12%;
  right: 12%
}

td.head.left::before {
  top: 12%;
  left: 12%
}

td.head.left::after {
  bottom: 12%;
  left: 12%
}

td.head.down::before {
  bottom: 12%;
  left: 12%
}

td.head.down::after {
  bottom: 12%;
  right: 12%
}

td.body {
  background-color: green;
}

td.tail {
  background-color: blue;
}

td.empty {
  background: white;
}

td.pellet {
  background-color: orange
}

.scoreboard {
  position: fixed;
  bottom: 0;
  background: #5d7cb5;
  width: 100%;
  text-align: center;
  color: #c9daba;
  font-family: helvetica;
}

.scoreboard h1 {
  display: inline-block;
  vertical-align: middle;
}

.scoreboard p {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-top: 0em;
  font-size: 2em;
}

span.version {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  background: #1a986f;
  padding: 5px 10px;
  border-top-left-radius: 15%;
}

.controller {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-family: helvetica;
}


#up {
  width: 3em;  height: 2.5em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#down {
  width: 3em;  height: 2.5em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#left {
  width: 3em;  height: 2.5em;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#right {
  width: 3em;  height: 2.5em;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#center {
  background: transparent;
  border: none !important;
  border-color: white;
  background: white;
  width: 3em;
}
