td {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

td.head {
  background-color: red;
  position: relative;
}

td.head::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

td.head::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

td.head.up::before {
  top: 25%;
  left: 25%
}

td.head.up::after {
  top: 25%;
  right: 25%
}

td.head.right::before {
  top: 25%;
  right: 25%
}

td.head.right::after {
  bottom: 25%;
  right: 25%
}

td.head.left::before {
  top: 25%;
  left: 25%
}

td.head.left::after {
  bottom: 25%;
  left: 25%
}

td.head.down::before {
  bottom: 25%;
  left: 25%
}

td.head.down::after {
  bottom: 25%;
  right: 25%
}

td.body {
  background-color: green;
}

td.tail {
  background-color: blue;
}

td.empty {
  background: white;
}
